.input {
    width: 282px;
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ededed;
    border-radius: 36px;
}
