@import "src/color.scss";

.item {
    padding: 29px 15px;
    width: 290px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 9px 32px rgba(0, 0, 0, 0.04);
}
.main {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.image {
    flex-shrink: 0;
    align-self: center;
}
.size {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    padding-bottom: 6px;
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 16px;
}
.list {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: $dark_blue;

    b {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: $black;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
