@import "../../color.scss";
.StockProducts {
    display: flex;
    justify-content: center;
}
.title__start {
    color: $yellow_1;
}
.title {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 48px;
    font-weight: 400;
    padding-bottom: 48px;
}
.wrap {
    width: 1360px;
}
@media (max-width: 1450px) {
    .wrap {
        width: 90%;
    }
}
@media (max-width: 600px) {
    .title {
        font-size: 20px;
        line-height: 24px;
    }
}
