@import "../../color.scss";
.hero {
    position: relative;
    background-image: url(../../assets/hero.png);
    background-size: cover;
    width: 100%;
    height: 921px;
    display: flex;
    justify-content: center;
    z-index: 0;
}
.blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 55%;
    height: 921px;
    backdrop-filter: blur(10px);
    z-index: 2;
}
.wrapper {
    width: 1360px;
    display: flex;
    align-items: center;
}
.block {
    width: 570px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    z-index: 3;
}
.items {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.item {
    display: flex;
    color: $white;
    align-items: center;
    gap: 10px;
}
.item__text {
    font-size: 14px;
    width: 170px;
}
.title {
    font-weight: 500;
    font-size: 70px;
    line-height: 77px;
}

.title_small {
    color: $white;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.items__small {
    display: none;
}
@media (max-width: 1450px) {
    .wrapper {
        width: 90%;
    }
    .blur{
        width: 90%;
    }
}

@media (max-width: 600px) {
    .blur{
        display: none;
    }
    .hero {
        background-image: url(../../assets/hero__small.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 210px;
    }
    .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
    }

    .title_small {
        font-size: 10px;
        text-align: center;
    }
    .block_button {
        display: none;
    }
    .items {
        display: none;
        padding: 0;
    }
    .items__small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    .item {
        color: black;
    }
    .item__text {
        font-size: 10px;
        width: 100%;
    }
    .block {
        padding: 6%;
        gap: 15px;
        width: 100%;
        backdrop-filter: blur(10px);
    }
}
