@import "src/color.scss";
.card {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1360px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_img {
    display: block;
}

.info {
    width: 50%;

    .type {
        font-size: 30px;
        line-height: 150%;
    }
    .size {
        font-size: 12px;
    }
    .prise {
        font-weight: 800;
        font-size: 30px;
        line-height: 130%;
    }
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}



.add {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    button {
        width: 34px;
        height: 23px;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
        font-size: 12px;
        text-align: center;
        color: $dark_blue;
    }
}

.description {
    display: none;
}
.characteristics {
    display: none;
}
.description_title {
    display: flex;
    padding-top: 30px;
}
.characteristics_title {
    display: flex;
    padding-top: 30px;
}
.button_white {
    min-width: 70px;
    height: 70px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: $dark_blue;
    background: #ffffff;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &:hover {
        background: $yellow_1;
        color: $white;
    }
}

@media (max-width: 1000px) {
    .wrap {
        width: 320px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .info {
        width: 100%;

        .type {
            font-weight: 800;
            font-size: 20px;
            line-height: 130%;
        }
        .size {
            display: none;
        }
        .prise {
            font-weight: 800;
            font-size: 20px;
            line-height: 130%;
        }
    }
    .block2 {
        width: 100%;
        flex-direction: column;
    }
}
