@import "src/color.scss";
.card {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1360px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_img {
    display: block;
}

.info {
    width: 50%;

    .type {
        font-size: 30px;
        line-height: 150%;
    }
    .size {
        font-size: 12px;
    }
    .prise {
        font-weight: 800;
        font-size: 30px;
        line-height: 130%;
    }

    
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    height: 77px;   
}

.add {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    button {
        width: 34px;
        height: 23px;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
        font-size: 12px;
        text-align: center;
        color: $dark_blue;
    }
}
.item {
    background: #ffffff;
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    max-width: 245px;
    height: 77px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.description {
    display: none;
}
.characteristics {
    display: none;
}
.description_title {
    display: flex;
    padding-top: 30px;
}
.characteristics_title {
    display: flex;
    padding-top: 30px;
}
