@import "src/color.scss";
.catalog {
    display: flex;
    justify-content: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1360px) {
        width: 1360px;
    }
    @media screen and (max-width: 1360px) {
        padding: 0 2em;
        width: 100%;
    }
}

.header_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 11px;
    margin: 30px 0px;
}
.block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.title_sort {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.button_white {
    height: 70px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $dark_blue;
    background: #ffffff;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    &:hover {
        background: $yellow_1;
        color: $white;
    }
}
.active_button {
    height: 70px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $white;
    background: $yellow_1;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    &:hover {
        background: $yellow_2;
        color: $white;
    }
}
.block_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.add_prise {
    display: flex;
    width: 238px;
    justify-content: space-between;
    align-items: center;
    input {
        text-align: center;
        width: 100px;
        height: 23px;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
    }
}

.input_button {
    max-width: 263px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ededed;
    border-radius: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $dark_blue;
    padding: 0 10px 0 20px;
    input {
        background: #ededed;
    }
}

.category {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #3f4e65;
    a {
        &:hover {
            color: #b8b9bb;
        }
    }
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    max-width: 270px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    @media screen and (max-width: 1000px) {
        .h5 {
            display: none;
        }
        .add_prise {
            display: none;
        }
        .input_button {
            display: none;
        }
        .buttons {
            display: none;
        }
    }
}
.block_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_footer {
    width: 83%;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $dark_blue;
    padding-bottom: 50px;
}
.nav_footer {
    padding: 50px;
    display: flex;
    align-items: center;
    li {
        i {
            color: $yellow_1;
            padding: 15px;
        }
        button {
            width: 35px;
            height: 35px;
            padding: 8.5px 14px;
            background-color: $white;
            color: $dark_blue;
            border-radius: 50%;
            &:hover {
                background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
                padding: 8.5px 14px;
                border-radius: 50%;
            }
        }
    }
}
.back {
    display: none;
}

.sort_item2 {
    display: none;
}
.manufacturer {
    .check {
        padding: 5px;
        
    }
}
@media (max-width: 1188px) {
    .header_buttons {
        display: none;
    }
    .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: #111111;
        padding-bottom: 19px;
    }

    .back {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        gap: 2%;
        font-weight: 600;
        font-size: 10px;
        line-height: 120%;
        color: $dark_blue;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        button {
            color: $dark_blue;
            background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        }
    }
    .block {
        flex-direction: column;
    }
    .navbar {
        gap: 9px;
        padding-bottom: 35px;
    }
    .sort_item {
        display: none;
    }
    .sort_item2 {
        display: flex;
    }
}
