@import "src/color.scss";
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrap {
    width: 1360px;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    span {
        color: $dark_blue;
        line-height: 18px;
        font-size: 12px;
    }
}
.block {
    display: flex;
    align-items: center;
    gap: 17px;
    i {
        color: $dark_blue;
        font-size: 16px;
    }
}
.nav_header {
    padding: 14px 0px;
}

.nav_footer {
    padding: 20px 0px;
}
.input_button {
    max-width: 263px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ededed;
    border-radius: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $dark_blue;
    padding: 0 10px 0 20px;
    input {
        background: #ededed;
    }
}
.menu {
    display: flex;
    width: 512px;
    align-items: center;
    justify-content: space-between;
    a {
        color: $dark_blue;
        &:hover {
            color: $grey;
        }
    }
}
.blocks {
    width: 488px;
    display: flex;
    justify-content: space-between;
}

.shopping {
    display: flex;
    gap: 14px;
    align-items: center;
    i {
        color: $dark_blue;
        font-size: 27px;
    }
    ul {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: $dark_blue;
    }
}

.link {
    text-align: right;

    li {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: $dark_blue;
        padding: 2.5px;
    }
    a {
        text-decoration-line: underline;
        color: $dark_blue;
    }
}
.small_header {
    display: none;
}

.small_footer {
    display: none;
}

@media (max-width: 1360px) {
    .wrap {
        width: 90%;
    }
    .menu {
        width: 400px;
    }
    .call {
        display: none;
    }
    .prise {
        display: none;
    }
    .input_button {
    }
}

@media (max-width: 1000px) {
    .wrap {
        width: 100%;
        padding: 15px;
    }
    .nav_header {
        padding: 0px;

        .blocks {
            display: none;
        }
        .menu {
            display: none;
        }
    }

    .nav_footer {
        padding: 0px;
        button {
            display: none;
        }
        img {
            display: none;
        }
        .input_button {
            display: none;
        }
        .link {
            display: none;
        }
        .prise {
            display: none;
        }
        .shopping {
            display: none;
        }
    }
    .small_footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        span{
            padding-left: 8px;
        }
    }
    .small_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        img {
            width: 97px;
        }
    }
    .shopping i {
        font-size: 21px;
        color: $dark_blue;
    }
}


