@import "src/color.scss";
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrap {
    width: 1360px;
    nav {
        display: flex;
        justify-content: space-between;
    }

    span {
        color: $dark_blue;
        line-height: 18px;
        font-size: 12px;
    }
}
.block {
    display: flex;
    align-items: center;
    gap: 17px;
    i {
        color: $dark_blue;
        font-size: 16px;
    }
}

.nav_header {
    padding: 14px;
}

.nav_footer {
    padding: 21px;
}
.input_button {
    width: 263px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ededed;
    border-radius: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $dark_blue;
    padding: 0 10px 0 20px;
    input {
        background: #ededed;
    }
}
.menu {
    display: flex;
    width: 512px;
    align-items: center;
    justify-content: space-between;
    a {
        color: $dark_blue;
        &:hover {
            color: $grey;
        }
    }
}
.blocks {
    width: 488px;
    display: flex;
    justify-content: space-between;
}

.shopping {
    display: flex;
    gap: 14px;
    align-items: center;
    i {
        color: $dark_blue;
        font-size: 35px;
    }
    ul {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: $dark_blue;
    }
}

.link {
    text-align: right;
    

    li {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: $dark_blue;
        padding: 2.5px;
    }
    a {
        text-decoration-line: underline;
        color: $dark_blue;

    }
}
