@import "../../color.scss";

.map {
    display: flex;
    justify-content: center;
}
.wrap {
    width: 1360px;
    height: 600px;
    position: relative;
}
.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}
.text {
    font-size: 20px;
    font-weight: 300px;
    line-height: 24px;
}
.info {
    position: absolute;
    left: 0;
    top: 0;
    width: 735px;
    height: 424px;
    background-size: cover;
    margin-top: 40px;
    margin-left: 50px;
    padding: 50px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    border-radius: 20px;
    z-index: 800;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
}
.block {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.block__title {
    padding-bottom: 10px;
}
.block__item {
    max-width: 265px;
}
@media (max-width: 1000px) {
    .wrap {
        width: 90%;
    }
    .info {
        height: auto;
        max-height: 400px;
        width: 75%;
    }
}
@media (max-width: 600px) {
    .wrap {
        display: flex;
        justify-content: center;
        background-image: url(../../assets/map3.png);
        background-size: contain;
    }
    .title {
        font-size: 20px;
        line-height: 24px;
    }
    .info {
        gap: 10px;
        padding: 30px;
    }
    .block {
        gap: 10px;
    }
    .text {
        font-size: 12px;
    }
    .block__text {
        font-size: 10px;
    }
}
